<div
  id="message-<%= message.id %>"
  class="message <%= message.user == user ? 'sent' : 'received' %>"
  data-controller="message"
  data-message-user-id-value="<%= message.user.id %>">

  <% unless message.user == user %>
    <img src="https://placehold.co/32" class="msg-avatar" alt="">
  <% end %>

  <div class="bubble">
    <small class="message-info">
      <strong><%= message.user.full_name %></strong>
      <i><time
        data-controller="local-time"
        data-local-time-iso-value="<%= message.created_at.utc.iso8601 %>">
        <%= l(message.created_at.utc, format: :short) %> <!-- fallback if JS is off -->
      </time></i>
    </small>
    <p class="message-content"><%= message.content %></p>
  </div>
</div>
