<div class="d-flex gap-2 mb-2 service-row" data-new-record="<%= f.object.new_record? %>">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>

  <!-- Categoria -->
  <%= f.input :category_id,
              collection: categories,
              prompt: "Selecione a categoria",
              label: false,
              input_html: {
                class: "form-select category-select",
                data: { action: "change->worker-form#updateServices" }
              },
              error: false %>

  <!-- Serviço -->
  <%= f.input :service_id,
            collection: (f.object.category_id.present? && f.object.category.present? ? f.object.category.services : Service.none),
              prompt: "Selecione o serviço",
              label: false,
              input_html: { class: "form-select service-select" },
              error: false %>

  <!-- Tipo de serviço -->
  <%= f.input :service_type,
              collection: service_types.map { |s| [s.humanize, s] },
              label: false,
              prompt: "Tipo",
              input_html: { class: "form-select" },
              error: false %>

  <!-- Botão remover -->
  <%= link_to "Remover", "#", class: "btn btn-danger remove-service", data: { action: "click->worker-form#removeServiceRow" } %>
</div>
