<!DOCTYPE html>
<html>
  <head>
    <title>Brazilify</title>
    <%= favicon_link_tag 'logo_brazilify.png', type: 'image/png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mapbox-token" content="<%= ENV.fetch("MAPBOX_PUBLIC_TOKEN", nil) %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", media: "all" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", media: "all" %>
  </head>

  <body data-current-user-id="<%= current_user ? current_user.id : "" %>">
    <%= render "shared/navbar2" %>
    <%= render "shared/flashes" %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
